@tailwind base;
@tailwind components;
@tailwind utilities;

.nl.active {
    color: aliceblue !important;
    font-weight: 600;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(214, 214, 214);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F46B5B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 196, 196);
}

.css-187mznn-MuiSlider-root {
    color: #F46B5B !important;
    margin-top: 20px;
}


.swiper {
    width: auto;

}

.swiper-pagination span {
    color: #F46B5B !important;
}

.swiper-button-prev {
    color: #F46B5B !important;
}

.swiper-button-prev:hover {
    color: rgb(0, 240, 248) !important;
}

.swiper-button-next:hover {
    color: rgb(0, 240, 248) !important;
}

.swiper-button-next {
    color: #F46B5B !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catagories-navigation {
    flex: 4;
}

.product-container {
    height: 1100px;
    overflow-y: scroll;
}



.product-card {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.486);
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 90%;
    }

    .category-sidebar {
        display: none;
    }


}

@media only screen and (max-width: 600px) {
    .container {
        width: 90% !important;
    }

    .category-sidebar {
        display: none;
    }


}

.show-sidebar {
    display: unset;
    position: absolute;
    top: 50px;
    z-index: 10;
    transition: all 1s ease-in-out;
    background-color: white;
}


.prodictDetails {
    width: 70%;
    margin: auto;
    height: 100px;
}